@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-ExtraLightItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-SemiBoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-ExtraBoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-BlackItalic.woff2") format("woff2");
}
